body {
  font-family: "Noto Serif", serif;
  margin: 20px;
  background-color: #f5f5dc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ccc;
  background-color: #c0f3f3;
}

th {
  background-color: #c7ecd0;
}

header, footer {
  text-align: center;
}
