body {
  font-family: "Noto Serif", serif;
  margin: 20px;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ccc;
  background-color: #c0f3f3;
}

th {
  background-color: #c7ecd0;
}

header, footer {
  text-align: center;
}
.add-vehicle {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px 14px;
  background-color: #bdf7cb;
  border: 1px solid #000;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
}

form {
  max-width: 320px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

form input[type="text"],
form input[type="number"],
form input[type="submit"] {
  width: 100%;
  padding: 8px 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
}

form input[type="submit"] {
  margin-top: 20px;
  background-color: #78c88c;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #5da06e;
}

.thumbnail {
  width: 75px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

.no-image {
  color: #888;
  font-size: 0.9em;
  font-style: italic;
}

.login-form {
    width: 300px;
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="submit"] {
    width: 100%;
    background-color: #78c88c;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #66b07a;
}
